<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    # ===========================
    # 🔒 Redirect ke HTTPS
    # ===========================
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # ===========================
    # 🌐 Redirect www ke non-www
    # (hapus bagian ini kalau mau www dipertahankan)
    # ===========================
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

    # ===========================
    # 🚪 Redirect Trailing Slashes
    # ===========================
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)/$ /$1 [L,R=301]

    # ===========================
    # 🚦 Send Requests To Front Controller
    # ===========================
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
